@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

@font-face {
        font-family:'android';
        src: url('../fontes/idroid.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    /* cores */
    --cor01:#274734;
    --cor02:#144728;
    --cor03:#51946B;
    --cor04:#21E069;
    --cor05:#6DC790;
}
body{
    background-color: var(--cor05);
}
header{
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor02));
    height: 150px;
    width: auto;
    padding-top: 30px;
}
header h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-weight: 3em;
    padding-bottom: 20PX;
}
header h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
    max-width: 450px;
    display: block;
    text-align: center;
}
nav{
    background-color: var(--cor02);
    padding: 5px;
}
nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;
    font-weight: bold;

}
nav a:hover{
    background-color: var(--cor05);
    border-radius: 10px;
    color: var(--cor01);
    transition: .4s;
}
main{
    max-width: 800px;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.39);
}
main h1{
    font-family: 'android', coursive;    
    color: var(--cor02);
}
main h2{
    font-family: 'android', coursive;
    color: var(--cor02);
    background-image: linear-gradient(to right, var(--cor05), transparent);
}
main p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
main strong{
    color: var(--cor02);
}
main a{
    color: var(--cor02);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor05);
}
main a:hover{
    background-color: var(--cor04);
    color: black;
    text-decoration: underline;
}
main img{
    margin: auto;
    width: 100%;
}
#bugdroid{
    display: block;
    max-width: 400px;
    margin: auto;
}
.video{
    background-color: var(--cor02);
    margin: 10px -10px 10px -10px;
    padding: 10px;
    padding-bottom: 56.45%;
    position: relative;
}
iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor05);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.39);

}
aside h3{
    background-color: var(--cor02);
    margin: -5px -5px 5px -5px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
    font-weight: bold;
}
aside a{
    color: var(--cor02);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor05);
}
aside a:hover{
    background-color: var(--cor04);
    color: black;
    text-decoration: underline;
}
aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
}
footer{
    background-color: var(--cor02);
    margin-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 3px;
}
footer a{
    color: var(--cor05);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    background-color: var(--cor05);
    color: var(--cor02);
}